body {
  margin: 1rem;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.example {
  border: lightgrey solid 3px;
  border-radius: 1rem;
  margin-top: 4rem;
  padding: 1rem 1rem 1.5rem 1rem;
  width: 40%;
}

.example__code {
  background-color: #eee;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header__title {
  color: darkred;
  font-weight: 600;
  font-size: 24pt;
}

.header__logo {
  max-height: 2.5rem;
  margin-left: 1rem;
}

.intro {
  width: 40vw;
  letter-spacing: 0.2px;
  text-align: justify;
  margin-top: 2.5rem;
}

.note {
  margin-top: 1rem;
  color: #666;
  width: 40vw;
  letter-spacing: 0.2px;
}
