.intro {
  width: 40vw;
  letter-spacing: 0.2px;
  text-align: justify;
  margin-top: 3rem;
}

.note {
  margin-top: 1rem;
  color: #666;
  width: 40vw;
  letter-spacing: 0.3px;
}

.antd-group-slider__footer {
  margin-top: 1rem;
}

.antd-group-slider__footer .ant-tooltip-disabled-compatible-wrapper .ant-btn {
  width: 100%;
}

.antd-group-slider__btn-remove-range {
  width: 100%;
}
.antd-group-slider__btn-add-range {
  width: 100%;
}

.antd-group-slider-item__description {
  display: flex;
  align-items: center;
}
.antd-group-slider-item__description-left-text {
  margin-right: 0.25rem;
  white-space: nowrap;
}
.antd-group-slider-item__description-right-text {
  margin-left: 0.25rem;
  white-space: nowrap;
}
.ant-slider-handle.ant-slider-handle-1 {
  /* make left slider slim */
  border-radius: 0%;
  width: 0px;
}
